<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/regcss.css">
    <link rel="stylesheet" href="../static/css/regcss.css">


</head>
<body>




<form action="#"
      th:action="@{/register}"
      th:object="${user}"
      method="post">

  <h1>Register</h1>
   <input type="hidden" th:field="*{id}" />


    <input type="text" th:field="*{firstName}" placeholder="First Name"/>
    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}"></span><br />

    <input type="text" th:field="*{lastName}" placeholder="Last Name"/>
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"></span><br />

    <input type="text" th:field="*{email}" placeholder="Email"/>
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"></span><br />

  <input type="text" th:field="*{username}" placeholder="Username" />
  <span th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}"></span><br />

   <input type="password" th:field="*{password}" placeholder="Password"/>
    <span th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"></span><br />

  <button>Register</button>
</form>-->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>